h1, h2, h3, h4, h5, h6, p, ol, ul, div {
    font-family: 'Raleway', sans-serif;
}

p, ol, ul, div {
    font-size: 16px;
}

h1 {
  text-align : center;
  margin-bottom : 40px; 
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h2 {
  font-weight : 600;
}

.capabilities h1,
.capabilities h2,
.capabilities h3 {
    color: #443548;
}

.capabilities .services_panel {
    box-shadow: 1px 1px 1px #d8d8d8;
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.capabilities .services_panel h2 {
    margin-top: 40px;
}

.capabilities .services_panel p {
    color: #443548;
}

.capabilities .services_panel img {
    min-width: 100%;
}

.capabilities .services_panel ol li {
    margin-bottom: 6px;
}

.capabilities .services_panel .col-lg-4 {
     padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.capabilities .services_panel.right_align .col-lg-4 {
    padding-right: 0;
}

@media (min-width: 1200px) {
    .capabilities .services_panel .col-lg-4 {
        text-align: left;
        padding-right: 15px;
    }
    .capabilities .services_panel.right_align .col-lg-4 {
        text-align: right;
    }
    .capabilities .services_panel.right_align .col-lg-8 {
        padding-left: 60px;
    }
}
.capabilities h1 {
    font-size: 54px;
    font-weight: 400;
}

.capabilities h2 {
    font-size: 36px;
}

.menu-head {
    z-index: 99;
}
.capabilities .nopadding {
    padding: 0;
}

.carousel-control.right {
    background-image: none;
}

#carousel-capabilities {
    min-height: 603px;
    background-image: url('../images/capabilities/back-carrousel.jpg');
    background-size:cover;
    margin-bottom: 60px;
}

#carousel-capabilities .hex-carrousel{
    position: absolute;
    top: 0;
    right: 0;
}

#carousel-capabilities .carousel-inner {
    position: relative;
    min-height: 603px;
    /*width: 1170px;*/
    /*margin: 0 auto;*/
}

#carousel-capabilities .carousel-inner h1 {
    font-weight: 600;
    color: white;
}

@media (min-width: 780px) {
    #carousel-capabilities .carousel-inner > .item > .main-img {
        margin-left: 12%;
    }
}

#carousel-capabilities .carousel-indicators  {
    bottom: -60px;
}

#carousel-capabilities .carousel-indicators li {
    border: 2px solid #bd282d;
    width: 18px;
    height: 18px;
    margin: 5px;
}

#carousel-capabilities .carousel-indicators .active {
    background-color: #bd282d;
}

#carousel-capabilities .hex-carrousel {
    display: none;
}

#carousel-capabilities .carousel-inner .carousel-caption {
    width: 100%;
    left: 0;
    right: auto;
    top: auto;
    bottom: 20px;
    position: relative;
    /*background: rgba(76,43,59,1);
    background: -moz-linear-gradient(-45deg, rgba(76,43,59,1) 0%, rgba(107,0,48,1) 30%, rgba(161,26,33,1) 70%, rgba(193,44,46,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76,43,59,1)), color-stop(30%, rgba(107,0,48,1)), color-stop(70%, rgba(161,26,33,1)), color-stop(100%, rgba(193,44,46,1)));
    background: -webkit-linear-gradient(-45deg, rgba(76,43,59,1) 0%, rgba(107,0,48,1) 30%, rgba(161,26,33,1) 70%, rgba(193,44,46,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(76,43,59,1) 0%, rgba(107,0,48,1) 30%, rgba(161,26,33,1) 70%, rgba(193,44,46,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76,43,59,1) 0%, rgba(107,0,48,1) 30%, rgba(161,26,33,1) 70%, rgba(193,44,46,1) 100%);
    background: linear-gradient(135deg, rgba(76,43,59,1) 0%, rgba(107,0,48,1) 30%, rgba(161,26,33,1) 70%, rgba(193,44,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c2b3b', endColorstr='#c12c2e', GradientType=1 );*/
}

#carousel-capabilities .carousel-inner .carousel-caption h1,
#carousel-capabilities .carousel-inner .carousel-caption p {
    padding: 0 40px;
    color: #443548;
    text-shadow: none;
}

@media (min-width: 1200px) {
    #carousel-capabilities .carousel-inner .carousel-caption {
        position: absolute;
        width: 520px;
        right: 5%;
        left: auto;
        top: 110px;
        bottom: auto;
        bottom: auto;
        background: none;
    }

    #carousel-capabilities .hex-carrousel {
        display: block;
    }

    #carousel-capabilities .carousel-inner .carousel-caption h1,
    #carousel-capabilities .carousel-inner .carousel-caption p {
        text-align: left;
        padding: 0;
        color: #fff;
    }
}

.logo-menu-head > a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}


a.back-to-top {
    display: none;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background: #d51c29 url("../images/int_ico_top.png") no-repeat center 43%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.btn-menu-desplegar {
    outline: 0 none;
}
